$main: #0a5d47;
$other: white;
@import 'fonts';
@import 'ui';
@import 'reactflow';
@import 'node.scss';
@import "sidebar";

body {
  color: $main;
  font-family: 'Montserrat';
}

.app {
  display: flex;
}