.hero {
    position: relative;
}

.hero__title {
    font-size: 72px;
    margin-bottom: 40px;
    line-height: 1.11;
    letter-spacing: -0.025em;
    max-width: 70%;
    font-weight: 600;
}

.hero__subtitle {
    font-size: 1.5rem;
    line-height: 1.33;
    letter-spacing: -0.025em;
    max-width: 60%;
    font-weight: 500;
}

.hero_start .hero__title {
    font-size: 92px;
}

.hero_start .hero__subtitle {
    font-size: 1.7rem
}

.hero_about .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__img {
    max-height: 700px;
}
.hero_about .hero__title {
    max-width: initial;
}