body {
    font-family: var(--font-family);
    color: var(--body-color);
    background: var(--body-bg);
    transition: background 0.25s ease-out;
    overflow-x: hidden;
}

.container {
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

@media(min-width: 1280px) {
    .container {
        max-width: 1240px;
    }
}

@media(min-width: 1500px) {
    .container {
        max-width: 1520px;
    }
}

main {
    padding-top: 160px;
}

.section {
    padding: 50px 0;
}

.section__title {
    font-size: 55px;
    margin-bottom: 50px;
    line-height: 1.11;
    letter-spacing: -0.025em;
}

.logo {
    font-size: 30px;
    font-weight: 600;
}

.logo svg {
    width: 200px;
    fill: var(--body-color);
    stroke: var(--body-color);
}